:root {
    --mainColor:#000102;
    --secondaryColor: #202020;
  
    --borderColor: #c1c1c1;
  
    --mainText: whitesmoke;
    --secondaryText: rgb(219, 224, 236);
    --themeDotBorder: whitesmoke;
    --previewBg: #393c42;
    --previewShadow: rgb(17, 13, 13);
    --btnColor:#1e91be;
  }
  #profile-about{
      color: var(--secondaryText);
  }